page-details {
    img{
        height: 200px !important;
        width: 200px !important;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .contenedor{
        text-align: center;
        align-items: center;
        margin: auto;
    }
    p {
        text-align: center;
        font-size: 18px !important;
        
    }
    h2{
        text-align: center;
        font-size: 25px !important;
        margin-bottom: 15px !important;
    }

}
